
<md-dialog aria-label="Help">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Intro</h2>
        <span flex></span>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>Welcome to Noah Steinberg, Justin Rodriguez and Joshua Van Schagen's Blackjack Demo!</p> 
        <p>After closing this dialogue, please click on the chips to place a bet and begin!</p>
        <p>If you need additional help, please see the help button at the top left of the screen.</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

