
<md-dialog aria-label="Help">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Intro</h2>
        <span flex></span>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>The rules have been based off of <a href=https://www.playolg.ca/content/olg/en/game-rules/blackjack_rules0.html>https://www.playolg.ca/content/olg/en/game-rules/blackjack_rules0.html</a>. Read those rules for greater detail</p>
        <h2>Betting</h2>
        <p>To increase bet, click on the respective chip. Click Reset Bet to set bet to 0</p>
        <p>Minimum bet is $5, Maximum bet is $500</p>
        <h2>Payoffs</h2>
        <p>Win - 1:1</p>
        <p>Blackjack win - 3:2</p>
        <p>Insurance - 2:1</p>
        <h2>Special Bets</h2>
        <p>Double: If you have enough money, you may double your initial bet upon seeing your hand and the dealer's face up card.
          When you bet double, you double your wager, recieve one additional card and then stay automatically.
        </p>
        <p>Split: If your starting hand is a pair (and you have a balance greater than your initial wager), the split button will appear in the hand controls.
          Splitting your hand creates a second hand, using your original wager, with one of the cards from your original hand.
          Each hand is played, and pays separately. 
          If your initial pair is Aces, you are immediately dealt 1 extra card to both hands, and then stay automatically.
        </p>
        <p>Insurance: If the dealers face-up card is an Ace (and you have a balance greater than half of your initial wager), the insurance button appears in the betting controls.
           When you bet insurance, you are betting half your original bet on the dealer having blackjack</p>
        <p>If the dealer has blackjack, you recieve 2:1 payoff on your insurance bet. The result of this is net 0 for the round</p>
        <h2>Other</h2>
        <p>After each round, the results of the round are displayed. After closing the pop-up, you may place your next bet and hit "deal" to begin</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

