u
<md-dialog aria-label="Help">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Help</h2>
        <span flex></span>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>You are out of money! Click ok to reload the page and restart the game!</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="acknowledge()">
       Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

