
<md-dialog aria-label="Choose Card Back">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Choose Card Back</h2>
        <span flex></span>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="row">
      <div layout="row">
          <div class="container" ng-click="choose('cardBack_blue1.png')">
              <img src="/assets/images/cards/cardBack_blue1.png">
          </div>
          <div class="container" ng-click="choose('cardBack_blue2.png')">
              <img src="/assets/images/cards/cardBack_blue2.png">
          </div>
          <div class="container" ng-click="choose('cardBack_blue3.png')">
              <img src="/assets/images/cards/cardBack_blue3.png">
          </div>
          <div class="container" ng-click="choose('cardBack_blue4.png')">
              <img src="/assets/images/cards/cardBack_blue4.png">
          </div>
          <div class="container" ng-click="choose('cardBack_blue5.png')">
              <img src="/assets/images/cards/cardBack_blue5.png">
          </div>
          <div class="container" ng-click="choose('cardBack_green1.png')">
              <img src="/assets/images/cards/cardBack_green1.png">
          </div>
          <div class="container" ng-click="choose('cardBack_green2.png')">
              <img src="/assets/images/cards/cardBack_green2.png">
          </div>
          <div class="container" ng-click="choose('cardBack_green3.png')">
              <img src="/assets/images/cards/cardBack_green3.png">
          </div>
          <div class="container" ng-click="choose('cardBack_green4.png')">
              <img src="/assets/images/cards/cardBack_green4.png">
          </div>
          <div class="container" ng-click="choose('cardBack_green5.png')">
              <img src="/assets/images/cards/cardBack_green5.png">
          </div>
          <div class="container" ng-click="choose('cardBack_red1.png')">
              <img src="/assets/images/cards/cardBack_red1.png">
          </div>
          <div class="container" ng-click="choose('cardBack_red2.png')">
              <img src="/assets/images/cards/cardBack_red2.png">
          </div>
          <div class="container" ng-click="choose('cardBack_red3.png')">
              <img src="/assets/images/cards/cardBack_red3.png">
          </div>
          <div class="container" ng-click="choose('cardBack_red4.png')">
              <img src="/assets/images/cards/cardBack_red4.png">
          </div>
          <div class="container" ng-click="choose('cardBack_red5.png')">
              <img src="/assets/images/cards/cardBack_red5.png">
          </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

