
<md-dialog aria-label="Help">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Help</h2>
        <span flex></span>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>To increase bet, click on the respective chip. Click Reset Bet to set bet to 0</p>
        <p>Minimum bet is $5, maximum bet is $500</p>
        <p>After each round, place your bet while your last round results are displayed, then click deal to deal the cards</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

