
<md-dialog aria-label="Help">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Help</h2>
        <span flex></span>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>To increase bet, click on the respective chip. Click Reset Bet to set bet to 0</p>
        <p>Minimum bet is $5, maximum bet is $500</p>
        <p>A normal win pays 1:1, while blackjack pays 3:2</p>
        <p>After each round, the results of the round are displayed. After closing the pop-up, you may place your next bet and hit "deal" to begin</p>
        <p>"Split" is available if both your starting cards are the same rank. It allows your to play 2 different hands against the dealer, where your
          second hand puts down the same bet as your first hand
        </p>
        <p>"Insurance" is available when the dealer's face up card is an Ace. When you bet insurance, you bet 50% of your current bet on insurance.</p>
        <p>If the dealer has blackjack, you recieve 2:1 payoff on your insurance bet. The result of this is net 0 for the round</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

