<!DOCTYPE html>

<html ng-app="blackJackApp">
  <head>
    <title>BlackJack Demo</title>
    <script src="/scripts/angular/angular.js"></script>
    <script src="/scripts/angular-animate/angular-animate.js"></script>
    <script src="/scripts/angular-aria/angular-aria.js"></script>
    <script src="/scripts/angular-material/angular-material.js"></script>
    <script src="/scripts/angular-route/angular-route.js"></script>
    <script src="/scripts/socket.io-client/dist/socket.io.js"></script>
    <script src="/index.js"></script>
    <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/scripts/angular-material/angular-material.layouts.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body layout="column" ng-controller="mainController as vm">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h1>BlackJack Demo</h1>
        <md-button class="md-accent md-raised" ng-click="showIntro()" id="help">Help</md-button>
        <md-button class="md-accent md-raised" ng-click="chooseCardBack()" id="cardBack">Choose Card Back</md-button>
      </div>
    </md-toolbar>
    <div layout="row" flex >
      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
          <md-card id="dealer-hand" ng-if="dealer.hand!==undefined">
            <md-toolbar ng-class="{'md-accent': true}" layout="row">
              <div class="md-toolbar-tools">
                <h1>
                  <strong class="busted" ng-show="dealer.hand.value > 21">[BUSTED!] </strong>
                  Dealer <span ng-if="!inProgress">(Value: {{dealer.hand.value}})</span>
                </h1>
              </div>
            </md-toolbar>
            <md-card-content layout="row" layout-align="space-around center">
              <div ng-repeat="card in dealer.hand.cards" id="{{'dealer-card-'+$index}}" flex style="text-align:center">
                <img ng-show="!debug && card.rank===undefined" flex src="/assets/images/cards/{{cardBack}}">
                <img ng-hide="!debug && card.rank===undefined" flex src="/assets/images/cards/{{card.rank}}{{card.suit}}.png">
              </div>
            </md-card-content>
          </md-card>

          <div layout="row" >
            <md-card flex id="my-hand" ng-if="player.hand.cards.length!==0">
              <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                  <h1>
                      <strong class="busted" ng-show="player.hand.value > 21">[BUSTED!] </strong>
                      Your hand (Value: <span id="handValue">{{player.hand.value}}</span>)
                  </h1>
                  <div class=hand-controls>
                      <md-button class="md-accent md-raised" ng-click="hit(false)" id="hit" ng-disabled="!player.hand.canHit" flex >Hit</md-button>
                      <md-button class="md-accent md-raised" ng-click="stay(false)" id="stay" ng-disabled="!player.hand.canHit" flex >Stay</md-button>
                      <md-button class="md-accent md-raised" ng-click="splitHand()" id="split" ng-if="player.hand.canSplit">Split</md-button>
                  </div>
                </div>

              </md-toolbar>
              <md-card-content layout="row" layout-align="space-around center">
                <div id="{{'card-'+$index}}" ng-repeat="card in player.hand.cards" flex style="text-align:center">
                  <img ng-hide="!debug && card.rank===undefined" src="/assets/images/cards/{{card.rank}}{{card.suit}}.png">
                </div>
              </md-card-content>
            </md-card>

            <md-card flex id="my-split-hand" ng-if="player.split.cards.length!==0">
              <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                  <h1>
                    <strong class="busted" ng-show="player.split.value > 21">[BUSTED!] </strong>
                    Split Hand (Value: <span id="splitValue">{{player.split.value}}</span>)
                  </h1>
                  <div class=hand-controls>
                      <md-button class="md-accent md-raised" ng-click="hit(true)" id="hit" ng-disabled="!player.split.canHit" flex >Hit</md-button>
                      <md-button class="md-accent md-raised" ng-click="stay(true)" id="stay" ng-disabled="!player.split.canHit" flex >Stay</md-button>
                  </div>
                </div>
              </md-toolbar>
              <md-card-content layout="row" layout-align="space-around center">
                <div id="{{'card-'+$index}}" ng-repeat="card in player.split.cards" flex style="text-align:center">
                  <img ng-hide="!debug && card.rank===undefined" src="/assets/images/cards/{{card.rank}}{{card.suit}}.png">
                </div>
              </md-card-content>
            </md-card>
          </div>

          <div style="text-align:center">
            <div style="display:inline-block">
                <div layout="row">
                    <md-card id="betting-controls">
                      <md-toolbar layout="row" ng-class="{'md-accent': true}">
                          <div class="md-toolbar-tools">
                            <h1>Balance: ${{player.balance}}</h1>
                            <span flex></span>
                            <h1>Total Wager: ${{player.bet}}</h1>
                          </div>
                        </md-toolbar>
                        <md-card-content layout="row" layout-align="space-around center" flex>
                          <div layout="row" layout-sm="column">
                            <div layout="row" flex>
                              <div flex>
                                <div class="container" ng-click="bet(5)" ng-disabled="inProgress">
                                    <img src="/assets/images/chips/5.png" >
                                  </div>
                              </div>
                              <div flex>
                                <div class="container" ng-click="bet(25)" ng-disabled="inProgress">
                                    <img src="/assets/images/chips/25.png">
                                  </div>
                              </div>
                            </div>
                            <div layout="row" flex>
                              <div flex>
                                <div class="container" ng-click="bet(50)" ng-disabled="inProgress">
                                    <img src="/assets/images/chips/50.png">
                                </div>
                              </div>
                              <div flex>
                                <div class="container" ng-click="bet(100)" ng-disabled="inProgress">
                                    <img src="/assets/images/chips/100.png">
                                  </div>
                              </div>           
                            </div>
                          </div> 
                          <div class="container" layout="column">
                              <md-button class="md-accent md-raised" ng-click="resetBet()" id="resetbet" ng-disabled="inProgress">Reset Bet</md-button>
                              <md-button class="md-accent md-raised" ng-click="newGame()" id="deal" ng-disabled="inProgress || player.bet<5">Deal</md-button>
                          </div>
                          <div class="container" layout="column">
                              <md-button class="md-accent md-raised" ng-click="insurance()" id="insurance" ng-if="player.canInsure">Insurance</md-button>
                              <md-button class="md-accent md-raised" ng-click="double()" id="double" ng-if="player.canDouble">Double</md-button>
                          </div>
                        </md-card-content>
                        
                    </md-card>
                  </div>
            </div>
          </div>

        </md-content>
      </div>
    </div>
  </body>
</html>
