<!DOCTYPE html>

<html ng-app="blackJackApp">
  <head>
    <title>Let's Play: BlackJack</title>
    <script src="/scripts/angular/angular.js"></script>
    <script src="/scripts/angular-animate/angular-animate.js"></script>
    <script src="/scripts/angular-aria/angular-aria.js"></script>
    <script src="/scripts/angular-material/angular-material.js"></script>
    <script src="/scripts/angular-route/angular-route.js"></script>
    <script src="/scripts/socket.io-client/dist/socket.io.js"></script>
    <script src="/index.js"></script>
    <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/scripts/angular-material/angular-material.layouts.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body layout="column" ng-controller="mainController as vm">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h1>Let's Play BlackJack</h1>
      </div>
    </md-toolbar>
    <div layout="row" flex >
      <md-sidenav flex layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="true">
          <md-toolbar layout="row" ng-class="{'md-accent': true}">
              <div class="md-toolbar-tools">
                <h1>Balance: ${{player.balance}}</h1>
              </div>
            </md-toolbar>
          <md-toolbar layout="row">
              <div class="md-toolbar-tools">
                <h1>Bet: ${{player.bet}}</h1>
              </div>
            </md-toolbar>
            <md-card-content layout="row" layout-align="space-around center">
              <div class="container" ng-click="bet(5)">
                <img src="/assets/images/chips/5.png"  ng-disabled="inProgress">
                <div class=centered>5</div>
              </div>
              <div class="container" ng-click="bet(25)">
                  <img src="/assets/images/chips/25.png" ng-disabled="inProgress">
                  <div class=centered>25</div>
                </div>
              <div class="container" ng-click="bet(50)">
                  <img src="/assets/images/chips/50.png" ng-disabled="inProgress">
                  <div class=centered>50</div>
              </div>
              <div class="container" ng-click="bet(100)">
                <img src="/assets/images/chips/100.png" ng-disabled="inProgress">
                <div class=centered>100</div>
              </div>
            </md-card-content>
            <md-button class="md-accent md-raised" ng-click="resetBet()" id="resetbet" ng-disabled="inProgress">Reset Bet</md-button>
            <md-button class="md-accent md-raised" ng-click="newGame()" id="newGame" ng-disabled="inProgress || player.bet<5">Deal</md-button>
        <md-toolbar layout="row">
          <div class="md-toolbar-tools">
            <h1>Game Controls</h1>
          </div>
        </md-toolbar>
        <md-button class="md-accent md-raised" ng-click="double()" id="double" ng-disabled="!player.canDouble || !inProgress">Double</md-button>
        <md-button class="md-accent md-raised" ng-click="splitHand()" id="split" ng-disabled="player.playingSplit || !player.canSplit">Split</md-button>
        <md-button class="md-accent md-raised" ng-click="insurance()" id="insurance" ng-disabled="(!inProgress || player.insured) || !player.canBetInsurance">Insurance</md-button>
        <md-toolbar layout="row">
          <div class="md-toolbar-tools">
            <h1>Other</h1>
          </div>
        </md-toolbar>
        <md-button class="md-accent md-raised" ng-click="showHelp()" id="help">Help</md-button>
        <md-button class="md-accent md-raised" ng-click="chooseCardBack()" id="help">Choose Card Back</md-button>
        </md-sidenav>
      <div ng-if="!started">
        <h1>Welcome to the table!</h1>
        <h1>Please place your first bet and hit "deal" to begin</h1>
      </div>
      <div layout="column" flex id="content" ng-if="started">
        <md-content layout="column" flex class="md-padding">
          <md-card>
            <md-toolbar ng-class="{'md-accent': true}" layout="row">
              <div class="md-toolbar-tools">
                <h1><strong class="winner" ng-show="dealer.winner">[WINNER!] </strong><strong class="tie" ng-show="tie">[TIE!]</strong><strong class="winner" ng-show="dealer.bust">[BUST!] </strong>Dealer <span ng-if="!inProgress">(Value: {{dealer.value}})</span></h1>
              </div>
            </md-toolbar>
            <md-card-content layout="row" layout-align="space-around center">
              <div ng-repeat="card in dealer.hand" id="{{'dealer-card-'+$index}}" flex style="text-align:center">
                <img ng-show="!debug && card.rank===undefined" flex src="/assets/images/cards/{{cardBack}}">
                <img ng-hide="!debug && card.rank===undefined" flex src="/assets/images/cards/{{card.rank}}{{card.suit}}.png">
              </div>
            </md-card-content>
          </md-card>

          <div layout="row" >
            <md-card flex id="my-hand">
              <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                  <h1>
                    Your hand (Value: <span id="handValue">{{player.value}}</span>)
                  </h1>
                  <div class=hand-controls>
                      <md-button class="md-accent md-raised" ng-click="hit()" id="hit" ng-disabled="!player.playing || !inProgress || !player.canHit" flex >Hit</md-button>
                      <md-button class="md-accent md-raised" ng-click="stay()" id="stay" ng-disabled="!player.playing || !inProgress" flex >Stay</md-button>
                  </div>
                </div>

              </md-toolbar>
              <md-card-content layout="row" layout-align="space-around center">
                <div id="{{'card-'+$index}}" ng-repeat="card in player.hand" flex style="text-align:center">
                  <img ng-hide="!debug && card.rank===undefined" src="/assets/images/cards/{{card.rank}}{{card.suit}}.png">
                </div>
              </md-card-content>
            </md-card>

            <md-card flex id="my-split-hand" ng-if="player.split.length!==0">
              <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                  <h1>
                    Split Hand (Value: <span id="splitValue">{{player.splitValue}}</span>)
                  </h1>
                  <div class=hand-controls>
                      <md-button class="md-accent md-raised" ng-click="hitSplit()" id="hit" ng-disabled="!player.playingSplit || !inProgress || !player.canHitSplit" flex >Hit</md-button>
                      <md-button class="md-accent md-raised" ng-click="staySplit()" id="stay" ng-disabled="!player.playingSplit || !inProgress" flex >Stay</md-button>
                  </div>
                </div>
              </md-toolbar>
              <md-card-content layout="row" layout-align="space-around center">
                <div id="{{'card-'+$index}}" ng-repeat="card in player.split" flex style="text-align:center">
                  <img ng-hide="!debug && card.rank===undefined" src="/assets/images/cards/{{card.rank}}{{card.suit}}.png">
                </div>
              </md-card-content>
            </md-card>
          </div>
        </md-content>
      </div>
    </div>
  </body>
</html>
